:root{
    --shadowBlue: #041d25;
    --blue: #073b4c;
    --blueAccent: #118ab2;
    --blueAccentLight: #84d2ec;
    --red: #ef476f;
    --redAccent: #ffd166;
    --green: #06d6a0;
    --greenAccent: #7bfad8;
    
    --icon-size: 50px;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    font-weight: 100;
    line-height: 150%;

}

body {
    background-color: var(--blue);
    color: var(--white);
    height: 100%;
    margin: 0px;
    border: 0px;
}


.title-container {
    background-image: url("voronoi.png");
    background-size: cover;
    background-position: center;
    color: var(--blue);
    padding: 5%;
    margin: 0px;
    text-align: center;
}

.page-container {
    max-width: 1000px;
    margin: auto;
}

.content {
    background-color: transparent;
    color: white;
    padding: 2% 5% 2% 5%;
    margin: 2vw;
    box-shadow: 0.1vw 0.1vw 0.7vw var(--shadowBlue);
    border-style: solid;
    border-radius: 2vw;
    border-width: thin;
    border-color: var(--shadowBlue);
}

div#disclaimer {
    background-color: var(--blueAccent);
    text-align: center;
    border-radius: 1vw;
    box-shadow: 0px 0px 0.3vw var(--shadowBlue);
}

.flex-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: stretch;
}

.button-container {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    font-size: medium;
    text-size-adjust: none;

}

.logo {
    width: var(--icon-size);
}

h1 {
    font-weight: bold;
    padding-bottom: 5%;
}

a {
    font-style: normal;
}

a {
    text-decoration: unset;
}

a:link {
    color: var(--greenAccent);
}

a:visited {
    color: var(--blueAccentLight);
}

p#subtitle {
    font-weight:lighter;
}